@import 'tailwindcss';

@theme {
  --breakpoint-2xs: 375px;
  --breakpoint-xs: 425px;

  --color-kv-black: #0b1215;
  --color-kv-white: #fcfcfc;

  --color-jobloop-primary-green: #77c4b4;
  --color-jobloop-primary-orange: #f4a366;
  --color-jobloop-primary-grey: #575756;

  --color-jobloop-secondary-orange: #f97e22;
  --color-jobloop-secondary-green: #01624e;

  --animate-scroll: scroll 35s linear infinite;

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  /* KV standard black and white */
  --kv-black: #0b1215;
  --kv-white: #fcfcfc;

  /* JOBLOOP COLORS */
  /* Hovedfarger */
  --jobloop-primary-green: #77c4b4;
  --jobloop-primary-orange: #f4a366;
  --jobloop-primary-grey: #575756;
  /* Sekundærfarger */
  --jobloop-secondary-green: #01624e;
  --jobloop-secondary-orange: #af4831;
}


body {
  user-select: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

button>h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

@media not all and (min-width: 640px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
  }
}

.team-photo {
  opacity: 1;
  will-change: transform, opacity;
  transition:
    transform 1.2s ease-out,
    opacity 1s ease-out;
}

.slide-left {
  transform: translateX(0);
}

.slide-right {
  transform: translateX(0);
}

.slide-bottom {
  transform: translateX(40px) translateY(80px);
}

@media (min-width: 768px) {

  /* team-photos */
  .team-photo {
    opacity: 0;
  }

  .slide-left {
    transform: translateX(-100px);
  }

  .slide-right {
    transform: translateX(100px);
  }

  .slide-bottom {
    transform: translateY(100px);
  }

  .slide-bottom.animate {
    opacity: 1;
    transform: translateX(0) translateY(80px);
  }

  .slide-left.animate {
    opacity: 1;
    transform: translateX(0);
  }

  .slide-right.animate {
    opacity: 1;
    transform: translateX(0);
  }

  .slide-bottom.animate {
    opacity: 1;
    transform: translateX(0) translateY(80px);
  }

  /* ki-kurs */
  .card-slide-in {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.6s ease-out;
  }

  .card-slide-in.animate {
    opacity: 1;
    transform: translateX(0);
  }

  .card-slide-in:nth-child(1) {
    transition-delay: 0.1s;
  }

  .card-slide-in:nth-child(2) {
    transition-delay: 0.2s;
  }

  .card-slide-in:nth-child(3) {
    transition-delay: 0.3s;
  }

  .card-slide-in:nth-child(4) {
    transition-delay: 0.4s;
  }

  .card-slide-in:nth-child(5) {
    transition-delay: 0.5s;
  }

}